<a href="https://colab.research.google.com/github/DedaNik/ds12wk_nikita/blob/main/notebooks/02_data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/ds12wk_nikita/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/ds12wk_nikita

In [19]:
import pandas as pd
EDA = pd.read_csv('data/raw/adult.csv')
EDA.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [22]:
EDA.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [11]:
Nan = EDA.workclass.map(lambda desc: "?" in desc).sum()
print(Nan)

1836

In [20]:
import numpy as np
EDA.replace('?',np.nan,inplace=True)
EDA.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [24]:
EDA.dropna(inplace=True)
EDA.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
EDA.education = le.fit_transform(EDA.education)

In [28]:
print("Category Mapping:", le.classes_)

Category Mapping: ['10th' '11th' '12th' '1st-4th' '5th-6th' '7th-8th' '9th' 'Assoc-acdm'
 'Assoc-voc' 'Bachelors' 'Doctorate' 'HS-grad' 'Masters' 'Preschool'
 'Prof-school' 'Some-college']

In [29]:
EDA.income = le.fit_transform(EDA.income)
EDA.relationship = le.fit_transform(EDA.relationship)
EDA.race = le.fit_transform(EDA.race)
EDA.sex = le.fit_transform(EDA.sex)

In [30]:
EDA.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,11,9,Widowed,Exec-managerial,1,4,0,0,4356,18,United-States,0
3,54,Private,140359,5,4,Divorced,Machine-op-inspct,4,4,0,0,3900,40,United-States,0
4,41,Private,264663,15,10,Separated,Prof-specialty,3,4,0,0,3900,40,United-States,0
5,34,Private,216864,11,9,Divorced,Other-service,4,4,0,0,3770,45,United-States,0
6,38,Private,150601,0,6,Separated,Adm-clerical,4,4,1,0,3770,40,United-States,0

In [34]:
EDA = pd.get_dummies(EDA, columns=['workclass','marital.status','occupation'])

In [35]:
EDA.head()

,age,fnlwgt,education,education.num,relationship,race,sex,capital.gain,capital.loss,hours.per.week,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
1,82,132870,11,9,1,4,0,0,4356,18,...,False,False,False,False,False,False,False,False,False,False
3,54,140359,5,4,4,4,0,0,3900,40,...,False,False,True,False,False,False,False,False,False,False
4,41,264663,15,10,3,4,0,0,3900,40,...,False,False,False,False,False,True,False,False,False,False
5,34,216864,11,9,4,4,0,0,3770,45,...,False,False,False,True,False,False,False,False,False,False
6,38,150601,0,6,4,4,1,0,3770,40,...,False,False,False,False,False,False,False,False,False,False

In [38]:
top_n = 10  # оставляем топ-10 стран
target_col = 'native.country'

# 1️⃣ Находим топ-N самых частых категорий
top_categories = EDA[target_col].value_counts().nlargest(top_n).index
# 2️⃣ Заменяем все остальные на "Other"
EDA[target_col] = EDA[target_col].apply(lambda x: x if x in top_categories else 'Other')
EDA = pd.get_dummies(EDA, target_col)

In [39]:
EDA.head()

,age,fnlwgt,education,education.num,relationship,race,sex,capital.gain,capital.loss,hours.per.week,...,native.country_Canada,native.country_Cuba,native.country_El-Salvador,native.country_Germany,native.country_India,native.country_Mexico,native.country_Other,native.country_Philippines,native.country_Puerto-Rico,native.country_United-States
1,82,132870,11,9,1,4,0,0,4356,18,...,False,False,False,False,False,False,False,False,False,True
3,54,140359,5,4,4,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,False,True
4,41,264663,15,10,3,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,False,True
5,34,216864,11,9,4,4,0,0,3770,45,...,False,False,False,False,False,False,False,False,False,True
6,38,150601,0,6,4,4,1,0,3770,40,...,False,False,False,False,False,False,False,False,False,True

In [40]:
y = EDA.income
X = EDA.drop('income',axis=1)

In [41]:
X.head()

,age,fnlwgt,education,education.num,relationship,race,sex,capital.gain,capital.loss,hours.per.week,...,native.country_Canada,native.country_Cuba,native.country_El-Salvador,native.country_Germany,native.country_India,native.country_Mexico,native.country_Other,native.country_Philippines,native.country_Puerto-Rico,native.country_United-States
1,82,132870,11,9,1,4,0,0,4356,18,...,False,False,False,False,False,False,False,False,False,True
3,54,140359,5,4,4,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,False,True
4,41,264663,15,10,3,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,False,True
5,34,216864,11,9,4,4,0,0,3770,45,...,False,False,False,False,False,False,False,False,False,True
6,38,150601,0,6,4,4,1,0,3770,40,...,False,False,False,False,False,False,False,False,False,True

In [42]:
y.head()

1    0
3    0
4    0
5    0
6    0
Name: income, dtype: int64

In [43]:
DF_ABT= X.copy()
DF_ABT['income']= y
DF_ABT.to_csv('data/processed/abt_sample.csv', index=False)

In [44]:
ABT = pd.read_csv('data/processed/abt_sample.csv')
ABT.head()

,age,fnlwgt,education,education.num,relationship,race,sex,capital.gain,capital.loss,hours.per.week,...,native.country_Cuba,native.country_El-Salvador,native.country_Germany,native.country_India,native.country_Mexico,native.country_Other,native.country_Philippines,native.country_Puerto-Rico,native.country_United-States,income
0,82,132870,11,9,1,4,0,0,4356,18,...,False,False,False,False,False,False,False,False,True,0
1,54,140359,5,4,4,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,True,0
2,41,264663,15,10,3,4,0,0,3900,40,...,False,False,False,False,False,False,False,False,True,0
3,34,216864,11,9,4,4,0,0,3770,45,...,False,False,False,False,False,False,False,False,True,0
4,38,150601,0,6,4,4,1,0,3770,40,...,False,False,False,False,False,False,False,False,True,0